rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users_data/{userId} {
      allow read, write: if true;
    }
    match /users_auth/{userId} {
      allow read, write: if true;
    }
  }
}
